<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher</title>
</head>
<body bgcolor="#808080">
    <h1 style="color:crimson"><center>Matches</center></h1>
    <p style="font-size:large;"><b>String : {{ text_string }}</b><br><br>
        <b>Regex : {{ regex }}</b><br><br>
    </p>
    <b>
    {% if matches %}
        <ol>
        {% for i in matches %}
            <li>{{i}}</li>
        {% endfor %}
        </ol>
    {% else %}
        {{ 'Match Not Found' }}
    {% endif %}
    </b>
    </body>
</html>